.mouseMoverSection {
    padding: 10px;

    background-color: var(--color-b);
    text-align: center;
    color: var(--color-a)
}
.newMouse {
    position: fixed;
    height: 16px;
    z-index: 100;
}
#buttonBox {
    width: 100%;

    display: flex;
    justify-content: center;
}
#buttonBox button {
    display: inline-block;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 20px;
    border: 3px solid var(--color-c);
    border-radius: 4px;
    background-color: var(--color-a);
    color: var(--color-c);
    transition: 0.2s;
}
#buttonBox button:hover {
    background-color: var(--color-b);
    color: var(--color-a);
    transition: 0.2s;
}
.fakeButton {
    display: inline-block;
    margin-left: 15px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 20px;
    border: 3px solid var(--color-c);
    border-radius: 4px;
    background-color: var(--color-a);
    color: var(--color-c);
    transition: 0.2s;
}
.fakeHover {
    background-color: var(--color-b);
    color: var(--color-a);
    transition: 0.2s;
}
.fakeHover.fakeClick {
    box-shadow: 0px 0px 20px 5px var(--color-a);
    filter: brightness(90%);
}